<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Поздравляем, вы разгадали последний шифр губернатора и уже почти полностью узнали секрет финансового благополучия! Осталось самое важное — научиться определять стоимость производимого товара. Будет непросто, но вы справитесь. Это последний шаг на пути к победе. Успехов!</p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать о создании бизнеса и о том, что обязательно нужно рассчитать. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/128AxTKTlwEf_RbxvZ4neIXraQ7IaXtNyvaleh1CnfpI/edit" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Вячеслав накопил стартовый капитал и решил открыть бизнес по продаже бургеров. Он нанял для готовки бургеров Игоря и Елену. Производство бургеров будет стоить Вячеславу 110 руб. за штуку, Игорь и Елена будут готовить и продавать 80 бургеров в день.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответа:</h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Минимальная цена одного бургера должна быть</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">При изготовлении 80 бургеров за день и реализации 77 бургеров прибыль Вячеслава будет составлять</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-business-opening',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: ''
            },
            options1: [
                {'id':1,'name':'37,5 руб.'},
                {'id':2,'name':'110,0 руб.'},
                {'id':3,'name':'123,0 руб.'},
                {'id':4,'name':'136,0 руб.'},
                {'id':5,'name':'147,5 руб.'}
            ],
            options2: [
                {'id':1,'name':'2 557,5 руб.'},
                {'id':2,'name':'2 670,0 руб.'},
                {'id':3,'name':'2 730,0 руб.'},
                {'id':4,'name':'2 887,5 руб.'},
                {'id':5,'name':'3 000,0 руб.'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('CongratulationSilver');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>