<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Отлично, так держать! При организации бизнеса важно постепенно выстраивать его и складывать в единую лестницу многие составляющие, которые помогут постепенно прийти к финансовому успеху. В основе такой лестницы лежит организационно-правовая форма бизнеса. Давайте разберёмся, какие они бывают, и в каких ситуациях, какая подойдет лучше. </p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать об открытии бизнеса, о выборе организационно-правовой форме. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1UFySoXB78GFOGkaBQQfRNiyQZAqQMbtoIgBHF2afbtk/edit" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Ирина хочет открыть цветочный салон. Её не пугает перспектива банкротства, но полноценную бухгалтерию она вести не хочет и  рассчитывает, что сможет выполнять практически всю работу вдвоём со своей подругой Алёной.</p>
                    <p>Через год работы салона выяснилось, что букеты, которые собирают Ирина и Алёна, пользуются большим спросом у клиентов по всему городу. Кроме того, существенную прибыль приносит продажа цветочных горшков с дизайном, который придумал друг Алёны — Денис. Ирина, Алёна и Денис собираются открыть ещё один салон в городе, а также наладить собственное производство цветочных горшков. Денис рисковать собственным имуществом не хочет.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответа:</h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Ирине лучше всего в качестве организационно-правовой формы выбрать</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Через год работы Ирине</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Это позволит</span>
                            <v-vue-select v-model="selected.option3" as="name:id:id" :from="options3"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-business-development',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: '',
                option3: ''
            },
            options1: [
                {'id':1,'name':'ИП'},
                {'id':2,'name':'ООО'}
            ],
            options2: [
                {'id':1,'name':'не стоит менять организационно-правовую форму'},
                {'id':2,'name':'следует изменить организационно-правовую форму на ИП'},
                {'id':3,'name':'следует изменить организационно-правовую форму на ООО'}
            ],
            options3: [
                {'id':1,'name':'участникам не рисковать собственным имуществом'},
                {'id':2,'name':'избежать необходимости вести бухгалтерский учёт'},
                {'id':3,'name':'упростить процессы регистрации и ликвидации предприятия'},
                {'id':4,'name':'спокойно распоряжаться средствами на расчётном счёте'},
                {'id':5,'name':'избежать налогообложения'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('FinancialRegulatoryInstitutions');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>