<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Правильно! На главной улице города есть скульптура «Фотограф с собакой». Она служит памятью о талантливом нижегородском фотографе Максиме Петровиче Дмитриеве, который знал, как достичь коммерческого успеха без привлечения заёмных средств. Однако обойтись собственными накоплениями удаётся не всегда. </p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать, какие бывают наиболее распространённые виды кредита. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1lJnXUBVxjUpSqVAfmDydVsnc3qWTXWAz4rgevEu-8MY/edit" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Супруги Вадим и Елизавета зарабатывают вместе 100 000 руб. в месяц. Сумма их ежемесячных необходимых расходов составляет 66 000 руб. Вадим и Елизавета накопили на первоначальный взнос на покупку квартиры и хотят взять ипотечный кредит в размере 2 000 000 руб.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответа для каждого утверждения:</h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Лучше всего выбрать вариант</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Этот вариант</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-credit',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: ''
            },
            options1: [
                {'id':1,'name':'1'},
                {'id':2,'name':'2'},
                {'id':3,'name':'3'},
                {'id':4,'name':'4'},
                {'id':5,'name':'все варианты подходят'}
            ],
            options2: [
                {'id':1,'name':'безопаснее в случае снижения дохода'},
                {'id':2,'name':'с минимально возможной переплатой при доступном семье размере ежемесячного платежа'},
                {'id':3,'name':'с лучшей процентной ставкой'},
                {'id':4,'name':'на самый короткий срок'},
                {'id':5,'name':'с минимальным размером ежемесячного платеж'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('ExpertFinancialHistory');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>