<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Поздравляю, очередной правильный ответ! В своём дневнике губернатор говорит о Зачатьевской башне Нижегородского кремля. Возможно, при строительстве башен следовало учесть, что оползни могут повредить сооружение. В наше время за такую ошибку сразу бы уволили! </p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать, какие права имеет работник при увольнении. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1C7wIQ03-8Np6ZeY2wDRzvWVsUyd5Z1a0GNe_G9ggzjE/edit#heading=h.cxcbmyfkht9q" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Проработав год менеджером по продажам в фитнес-клубе, Инна нашла новую работу с более высокой заработной платой. Она написала заявление на увольнение по собственному желанию и хочет покинуть компанию через 3 дня. Работодатель предлагает отработать 14 дней и не принимает заявление Инны. За время работы девушка отпуск не брала.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">1) Выберите 1 правильный вариант ответа для каждого утверждения: </h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Инна _______ уволиться по собственному желанию</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">но она должна отработать ________ после написания заявления на увольнение. </span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <h2 class="finquest-box__title h2">2) Выберите несколько верных ответов (не более 2-х):</h2>
                        <v-checkbox
                            name="check-first"
                            id="checkbox1"
                            checkTxt="продление полиса добровольного медицинского страхования;"
                        ></v-checkbox>
                        <v-checkbox
                            name="check-second"
                            id="checkbox2"
                            checkTxt="получение выходного пособия;"
                        ></v-checkbox>
                        <v-checkbox
                            name="check-third"
                            id="checkbox3"
                            checkTxt="получение компенсации за неиспользованный отпуск, в который собиралась уйти через месяц;"
                        ></v-checkbox>
                        <v-checkbox
                            name="check-fourth"
                            id="checkbox4"
                            checkTxt="получение заработной платы за отработанное время в полном объёме;"
                        ></v-checkbox>
                        <v-checkbox
                            name="check-fifth"
                            id="checkbox5"
                            checkTxt="предложение о повышении зарплаты в случае изменения решения об увольнении."
                        ></v-checkbox>
                        <!-- <div class="finquest-form__input-group-wrap">
                            <p class="finquest-form__select-group__title">При участии в рекламной акции необходимо учитывать
                                <span class="finquest-form__input-group">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                </span> товара.</p>
                        </div>
                        <div class="finquest-form__select-group finquest-form__select-group--inline">
                            <span class="finquest-form__select-group__title">Если она превышает</span>
                            <v-select class="vue-select" :options="options" placeholder="Выберите"></v-select>
                        </div>
                        <div class="finquest-form__input-group-wrap">
                            <p class="finquest-form__select-group__title">то к такому товару применяется
                                <span class="finquest-form__input-group">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                    <input type="text" class="form-control form-control-sm" minlength="1" maxlength="1">
                                </span></p>
                        </div>
                        <div class="finquest-form__select-group finquest-form__select-group--inline">
                            <span class="finquest-form__select-group__title">в размере</span>
                            <v-select class="vue-select--sm" :options="optionsSm" placeholder="%"></v-select>
                        </div>
                        <div class="finquest-form__select-group finquest-form__select-group--inline">
                            <span class="finquest-form__select-group__title">Получается, </span>
                            <v-select class="vue-select--sm" :options="optionsSm" placeholder="%"></v-select>
                            <span class="finquest-form__select-group__title">налогом в любом случае не облагаются. </span>
                        </div>
                        <div class="finquest-form__select-group finquest-form__select-group--inline">
                            <span class="finquest-form__select-group__title">В нашем случае налог составит</span>
                            <v-select class="vue-select" :options="options" placeholder="Выберите"></v-select>
                        </div> -->
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-modal-dismissial',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: ''
            },
            options1: [
                {'id':1,'name':'может'},
                {'id':2,'name':'не может'}
            ],
            options2: [
                {'id':1,'name':'3 дня'},
                {'id':2,'name':'5 дней'},
                {'id':3,'name':'7 дней.'},
                {'id':4,'name':'10 дней'},
                {'id':5,'name':'14 дней'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('CongratulationFalse');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>