<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Всё верно! Желанием Николая Михайловича было исправить историческую несправедливость и установить памятник Минину и Пожарскому в Нижнем Новгороде. Однако исполнить его мечту удалось лишь в 2005 году.</p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать, как лучше планировать семейный бюджет. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание. <br> Здесь у вас есть возможность открыть четвёртую часть секрета финансового успеха. Удачи!</p>
                    <a href="https://docs.google.com/document/d/1lZr7DEmcoQ39zQuxAJTyLcLq_rBIunJmdyYf9Ac-cNs/edit#heading=h.c6pygz4txuc6" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Перед вами месячный бюджет семьи Игнатьевых: <br>
                    Зарплата мамы: 30 000 руб. после вычета налогов. <br>
                    Зарплата папы: 35 000 руб. после вычета налогов. <br>
                    Сын Фёдор подрабатывает дизайнером, получая ежемесячно после вычета налога 12 000 руб. <br>
                    Траты семьи в среднем составляют 61 000 руб. в месяц: <br>
                    Питание – 25 000 руб. <br>
                    Общественный транспорт – 3 500 руб. <br>
                    Коммунальные платежи и связь – 4 500 руб. <br>
                    Одежда – 10 000 руб. <br>
                    Покупка игр для приставки – 15 000 руб. <br>
                    Бытовая химия, косметика – 3 000 руб. <br>
                    Посовещавшись, Фёдор с родителями решили накопить на семейный отпуск 100 000 руб.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответа для каждого утверждения: </h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Игнатьевы смогут накопить на отпуск за ___ полных месяцев.</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Чтобы быстрее накопить на отпуск, Игнатьевым необходимо</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-modal-family-budget',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: ''
            },
            options1: [
                {'id':1,'name':'5'},
                {'id':2,'name':'6'},
                {'id':3,'name':'7'},
                {'id':4,'name':'8'},
                {'id':5,'name':'9'}
            ],
            options2: [
                {'id':1,'name':'прекратить платить налоги с зарплаты'},
                {'id':2,'name':'исключить пользование моющих средств'},
                {'id':3,'name':'прекратить использование мобильной связи'},
                {'id':4,'name':'сократить расходы на покупку игр для приставки'},
                {'id':5,'name':'перестать пользоваться общественным транспортом'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('CongratulationFinancier');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>