<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Всё верно! Олень — главный символ Нижнего Новгорода. Именно он поможет вам получить первый ключ в открытии секрета финансового успеха! Зачастую главной составляющей материального благополучия является достойная работа. Но важно знать, как проходит процесс оформления и на что необходимо обращать внимание.</p>
                    <p class="finquest-box__text">Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1UhNT5pzJpvbo7DI6wc1rfk28KAomYGc_gqTCN58arr4/edit#heading=h.o0vfxfnr24ar" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Сергей решил устроиться в ресторан «Альфа» на должность официанта. Он приехал в офис компании и прошёл собеседование. Его направили в отдел кадров, где он заплатил специалистам за оформление трудового договора. Документ пообещали подготовить в течение месяца. На следующий день Сергею позвонили и попросили выйти на работу, так как планировался большой банкет. После того, как Сергей отработал смену на банкете, он ушёл домой. Больше из ресторана Сергею не звонили и не отвечали на его звонки. Сергей нашёл работу в другом месте.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Выберите несколько верных ответов (не более 2-х):</h2>
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <v-checkbox
                            name="check-first"
                            id="checkbox1"
                            checkTxt="Не нужно платить работодателю при устройстве на работу."
                        ></v-checkbox>
                        <v-checkbox
                            name="check-second"
                            id="checkbox2"
                            checkTxt="Не стоит звонить и лишний раз тревожить работодателя."
                        ></v-checkbox>
                        <v-checkbox
                            name="check-third"
                            id="checkbox3"
                            checkTxt="Не следует выходить на работу, если в течение 3-х дней работодатель не представил трудовой договор."
                        ></v-checkbox>
                        <v-checkbox
                            name="check-fourth"
                            id="checkbox4"
                            checkTxt="Не стоит начинать работать сразу на больших мероприятиях. Лучше начать с простых и не самых ответственных задач."
                        ></v-checkbox>
                        <v-checkbox
                            name="check-fifth"
                            id="checkbox5"
                            checkTxt="Не нужно пытаться найти работу в другом месте, если были устные договорённости с работодателем."
                        ></v-checkbox>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <ul class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'modal-job-application',
    data() {
        return {
            step: 1
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.$store.dispatch('initChangePoint', false);
                    this.openCongratulationModal('CongratulationPhilanthropist');
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>