<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Правильно! Вы всё ближе и ближе к разгадке секрета финансового благополучия. Согласно легенде, именно под Коромысловой башней была похоронена храбрая нижегородка. Здесь вам откроется шестая часть секрета губернатора.</p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать, что выгоднее, хранение денег в банке или «под матрасом». Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1Py2370TxiOGIacc57puzonCwXjua1x4LLJC9VWpnX7w/edit" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Артём решил положить на срочный вклад в банк 500 000 руб. на 2 месяца. Банк предложил молодому человеку 6% годовых с ежемесячным начислением процентов, но без капитализации (по методу простых процентов).</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответа:</h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Через 2 месяца в качестве дохода по вкладу Артём получит</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">В случае отзыва лицензии у банка Артём получит</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-money-storage',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: ''
            },
            options1: [
                {'id':1,'name':'3 906 руб.'},
                {'id':2,'name':'5 000 руб.'},
                {'id':3,'name':'8 013 руб.'},
                {'id':4,'name':'15 013 руб.'},
                {'id':5,'name':'30 000 руб.'}
            ],
            options2: [
                {'id':1,'name':'5 000 руб.'},
                {'id':2,'name':'500 000 руб.'},
                {'id':3,'name':'505 000 руб.'},
                {'id':4,'name':'530 000 руб.'},
                {'id':5,'name':'1 400 000 руб.'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('CongratulationPlace');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>