<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Очередной правильный ответ! Мечта Николая Михайловича осуществилась, и уже меньше, чем через 15 лет свои двери для студентов открыл Мининский университет. Здесь вы узнаете предпоследнюю часть секрета финансового успеха, которую оставил губернатор. Поспешите!</p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать о налогах для физических лиц, о расчёте суммы к уплате. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1ttA8UYmJYju9fvWf_oDRWD5yWVvPACbzFe0yF_E3RNQ/edit" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Егор выиграл в рекламной акции магазина новый ноутбук стоимостью 60 000 руб.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответ для каждого утверждения:</h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Егору необходимо заплатить</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Сумма налога к уплате</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <div class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-taxes-for-individuals',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: ''
            },
            options1: [
                {'id':1,'name':'налог на доходы физических лиц'},
                {'id':2,'name':'транспортный налог'},
                {'id':3,'name':'земельный налог'},
                {'id':4,'name':'налог на имущество физических лиц'},
                {'id':5,'name':'налог на добавленную стоимость'}
            ],
            options2: [
                {'id':1,'name':'4 308 руб.'},
                {'id':2,'name':'7 800 руб.'},
                {'id':3,'name':'16 380 руб.'},
                {'id':4,'name':'19 600 руб.'},
                {'id':5,'name':'21 000 руб.'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('CongratulationGolden');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>