<template>
    <div class="finquest-modal-inner">
        <div class="finquest-box-col" :class="{'is-active': step === 1}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Текст ведущего</h2>
                    <p class="finquest-box__text">Всё верно, в этом шифре губернатор загадал памятник «Соляная афера». Здесь вам откроется вторая часть секрета губернатора.</p>
                    <p class="finquest-box__text">Сейчас вам предстоит узнать, какие бывают виды заработной платы. Ознакомьтесь внимательно с теорией, чтобы правильно решить задание.</p>
                    <a href="https://docs.google.com/document/d/1Ch8jkHS34b-cv4OGb8Ydpn1pI3fvtgGJV64MiaSESJ8/edit#heading=h.vwhw8z4jzhid" target="_blank" class="pdf-link">
                        <v-icons name="pdf"></v-icons>
                        <span>PDF</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 2}">
            <div class="finquest-box">
                <div class="finquest-box__body">
                    <h2 class="finquest-box__title h2">Задание</h2>
                    <p class="finquest-box__text">Алексей работает в ООО «Белое» с официальной заработной платой 53 000 руб., а его друг Иван – в ООО «Серое» с официальной заработной платой 20 000 руб. и неофициальной частью – 37 000 руб. В марте они вместе решили искупаться в речке, после чего заболели и 5 дней (с понедельника по пятницу) провели на больничном.</p>
                </div>
            </div>
        </div>
        <div class="finquest-box-col" :class="{'is-active': step === 3}">
            <div class="finquest-box finquest-box--question">
                <div class="finquest-box__header">
                    <div class="finquest-box__header__item">
                        <v-icons name="star"></v-icons>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="finquest-box__header__item">
                        <v-stopwatch></v-stopwatch>
                    </div>
                </div>
                <div class="finquest-box__body">
                    <form novalidate @submit.prevent="validateBeforeSubmit" data-vv-scope="questForm" class="finquest-form">
                        <h2 class="finquest-box__title h2">Выберите 1 правильный вариант ответа  для каждого утверждения (ответ округлите до рублей): </h2>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Работодатель Алексея отчисляет за него во внебюджетные фонды ежемесячно</span>
                            <v-vue-select v-model="selected.option1" as="name:id:id" :from="options1"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Работодатель Ивана отчисляет каждый месяц за него во внебюджетные фонды</span>
                            <v-vue-select v-model="selected.option2" as="name:id:id" :from="options2"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Алексею будет начислено в качестве пособия по временной нетрудоспособности</span>
                            <v-vue-select v-model="selected.option3" as="name:id:id" :from="options3"></v-vue-select>
                        </div>
                        <div class="finquest-form__select-group">
                            <span class="finquest-form__select-group__title">Ивану будет начислено</span>
                            <v-vue-select v-model="selected.option4" as="name:id:id" :from="options4"></v-vue-select>
                        </div>
                        <button class="button button--xs button--green" type="submit">
                            <span>Ответить</span>
                        </button>
                    </form>
                    <button class="finquest-box__hint" @click="openHint" v-if="showHintBtn">
                        <img src="../../assets/images/finquest/question-sm.png" alt="hint">
                        <span class="finquest-box__hint__name">Нужна подсказка?</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- переключатель для моб. версии -->
        <ul class="finquest-steps-list h-reset-list">
            <li class="finquest-steps-list__item" :class="{'is-active': step === i}" v-for="i of 3" :key="`list-`+i" @click="step = i">
                <span>{{i}}</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'finquest-modal-2',
    data() {
        return {
            step: 1,
            selected: {
                option1: '',
                option2: '',
                option3: '',
                option4: ''
            },
            options1: [
                {'id':1,'name':'6 040 руб.'},
                {'id':2,'name':'8 983 руб.'},
                {'id':3,'name':'14 539 руб.'},
                {'id':4,'name':'16 006 руб.'},
                {'id':5,'name':'16 606 руб.'}
            ],
            options2: [
                {'id':1,'name':'6 040 руб.'},
                {'id':2,'name':'7 639 руб.'},
                {'id':3,'name':'11 174 руб.'},
                {'id':4,'name':'15 389 руб.'},
                {'id':5,'name':'17 214 руб.'}
            ],
            options3: [
                {'id':1,'name':'4 994 руб.'},
                {'id':2,'name':'6 682 руб.'},
                {'id':3,'name':'8 712 руб.'},
                {'id':4,'name':'8 833 руб.'},
                {'id':5,'name':'11 522 руб.'}
            ],
            options4: [
                {'id':1,'name':'3 288 руб.'},
                {'id':2,'name':'4 839 руб.'},
                {'id':3,'name':'6 167 руб.'},
                {'id':4,'name':'9 500 руб.'},
                {'id':5,'name':'10 142 руб.'}
            ]
        }
    },
    $_veeValidate: {
        validator: 'new'
    },
    methods: {
        openHint() {
            if (this.showHintBtn) {
                this.openHintModal('HintModalActivate');
            }
        },
        validateBeforeSubmit() {
            this.$validator.validateAll('questForm').then((result) => {
                if (result) {
                    this.closeFinquestModal();
                    this.openCongratulationModal('CongratulationEcologist');
                    this.$store.dispatch('initChangePoint', false);
                }
            });
        }
    },
    computed: {
        showHintBtn() {
            return this.$store.getters.getPointStatus
        }
    }
}
</script>