<template>
    <label class="checkbox-item" :for="id">
        <input :id="id" :name="name" v-validate="rules" type="checkbox" class="checkbox-item__input">
        <span class="checkbox-item__box">
            <v-icons name="tick"></v-icons>
        </span>
        <span class="checkbox-item__txt">{{checkTxt}}</span>
    </label>
</template>

<script>
    export default {
        name: 'v-checkbox',
        props: {
            value: {

            },
            scope: {

            },
            id: {
                type: String,
                required: true
            },
            rules: {

            },
            name: {
                type: String,
                required: true
            },
            checkTxt: {
                type: String,
                required: true
            },
        },
        inject: ['$validator'],
        data: () => ({

        })
    };
</script>


