.aside-block {
    width: 13.9rem;
    height: calc(100vh - 10rem);
    background-color: #fff;
    // box-shadow: 11px 0 24px #dceffa;
    // box-shadow: 5px 0 17px #dceffa;
    position: fixed;
    left: 0;
    top: 10rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @media (max-width: $sw-lg-max) {
        top: 8rem;
        height: calc(100vh - 8rem);
        width: 12rem;
    }
    @media (max-width: $sw-md-max) {
        width: 11rem;
    }
    @media (max-width: $sw-sm-max) {
        width: 100%;
        height: 9rem;
        z-index: 20;
        top: -9rem;
        opacity: 0;
        visibility: hidden;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        transform: none;
        transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
        box-shadow: none;
    }
    @media (max-width: $sw-xs-max) {
        height: 8.5rem;
        top: auto;
        bottom: -9rem;
    }
    &.is-visible {
        @media (max-width: $sw-sm-max) {
            transform: translateY(17rem);
            opacity: 1;
            visibility: visible;
        }
        @media (max-width: $sw-xs-max) {
            transform: translateY(-9rem);
        }
    }
    .aside-block-points {
        @media (max-width: $sw-sm-max) {
            display: none;
        }
    }
    &-points {
        height: 9.8rem;
        background-color: $green;
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: $sw-lg-max) {
            height: 8rem;
        }
        @media (max-width: $sw-md-max) {
            height: 7rem;
        }
        @media (max-width: $sw-sm-max) {
            height: 100%;
            width: 14rem;
            flex-shrink: 0;
        }
        &__count {
            color: $white;
            font-weight: 700;
            font-size: 3rem;
            display: block;
            line-height: 1;
            width: 100%;
            margin-bottom: 2px;
            @media (max-width: $sw-lg-max) {
                font-size: 2.8rem;
            }
            @media (max-width: $sw-md-max) {
                font-size: 2.6rem;
            }
        }
        &__text {
            color: $white;
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 400;
            display: block;
            width: 100%;
            @media (max-width: $sw-lg-max) {
                font-size: 1.4rem;
            }
            @media (max-width: $sw-md-max) {
                font-size: 1.3rem;
            }
        }
    }
    &-list {
        padding-top: 4.5rem;
        padding-bottom: 2rem;
        @media (max-width: $sw-lg-max) {
            padding-top: 2rem;
        }
        @media (max-width: $sw-md-max) {
            padding-top: 1.5rem;
        }
        @media (max-width: $sw-sm-max) {
            display: flex;
            padding-top: 0;
            padding-bottom: 0;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        @media (max-width: $sw-xs-max) {
            justify-content: center;
        }
        &__item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            @media (max-width: $sw-sm-max) {
                height: 100%;
            }
            @media (max-width: $sw-xs-max) {
                padding: 0 5px;
                width: auto;
            }
            &:not(:last-child) {
                margin-bottom: 4rem;
                @media (max-width: $sw-lg-max) {
                    margin-bottom: 2.3rem;
                }
                @media (max-width: $sw-md-max) {
                    margin-bottom: 2rem;
                }
                @media (max-width: $sw-sm-max) {
                    margin-bottom: 0;
                    border-right: 2px solid #e6f8ff;
                }
                @media (max-width: $sw-xs-max) {
                    border: none;
                }
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    .aside-block-list__name:after {
                        width: 100%;
                    }
                }
            }
            &__link {
                @media (max-width: $sw-sm-max) {
                    display: flex;
                    align-items: center;
                }
            }
        }
        &__icon {
            width: 100%;
            height: 7rem;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-lg-max) {
                height: 6rem;
            }
            @media (max-width: $sw-md-max) {
                height: 5rem;
            }
            @media (max-width: $sw-sm-max) {
                margin-right: 1.5rem;
                margin-bottom: 0;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 0;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &__name {
            font-weight: 700;
            color: $bluewood;
            font-size: 1.5rem;
            line-height: 1.2;
            position: relative;
            @media (max-width: $sw-md-max) {
                font-size: 1.4rem;
            }
            @media (max-width: $sw-xs-max) {
                display: none;
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background-color: $bluewood;
                transition: width .3s ease;
                position: absolute;
                left: 0;
                top: 100%;
                @media (max-width: $sw-sm-max) {
                    display: none;
                }
            }
        }
    }
}