.choose-game {
    padding: 5.5rem 8rem;
    @media (max-width: $sw-lg-max) {
        padding: 3rem 5rem;
    }
    @media (max-width: $sw-md-max) {
        padding: 3rem 3.5rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 4rem 2rem 0 2rem;
    }
    .h1 {
        margin-bottom: 11rem;
        @media (max-width: $sw-lg-max) {
            margin-bottom: 9rem;
        }
        @media (max-width: $sw-sm-max) {
            margin-bottom: 7rem;
            text-align: center;
        }
    }
    &-inner {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 160.6rem;
        margin-left: -7px;
        margin-right: -7px;
        @media (max-width: $sw-sm-max) {
            flex-wrap: wrap;
            justify-content: center;
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &-col {
        width: 25%;
        padding: 0 7px;
        @media (max-width: $sw-sm-max) {
            width: 50%;
            padding: 0 1.5rem;
            margin-bottom: 6rem;
            max-width: 40rem;
        }
        @media (max-width: $sw-xs-max) {
            width: 100%;
            padding: 0;
        }
    }
    &-block {
        width: 100%;
        height: 100%;
        background-color: $white;
        box-shadow: 11px 0 24px #dceffa;
        position: relative;
        &__icon {
            width: 14rem;
            height: 14rem;
            border-radius: 50%;
            background-color: $solitude;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -7rem;
            @media (max-width: $sw-lg-max) {
                width: 12rem;
                height: 12rem;
                top: -6rem;
            }
            @media (max-width: $sw-md-max) {
                width: 10rem;
                height: 10rem;
                top: -5rem;
            }
            .icon {
                font-size: 11.1rem;
                @media (max-width: $sw-lg-max) {
                    font-size: 10rem;
                }
                @media (max-width: $sw-md-max) {
                    font-size: 8rem;
                }
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 10rem 4rem 6rem 4rem;
            height: 100%;
            @media (max-width: $sw-lg-max) {
                padding: 7rem 2rem 4rem 2rem;
            }
            @media (max-width: $sw-md-max) {
                padding: 6.5rem 2rem 3rem 2rem;
            }
        }
        &__name {
            text-align: center;
            min-height: 6.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.4rem;
            @media (max-width: $sw-md-max) {
                min-height: 5.2rem;
            }
            .h2 {
                @media (max-width: $sw-md-max) {
                    font-size: 2rem;
                }
            }
        }
        &__plan {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.125;
            letter-spacing: 3.2px;
            display: block;
            width: 100%;
            text-align: center;
            color: $rockblue;
            margin-bottom: 2.8rem;
            @media (max-width: $sw-lg-max) {
                margin-bottom: 2rem;
            }
            @media (max-width: $sw-md-max) {
                font-size: 1.5rem;
            }
        }
        &__range {
            display: flex;
            justify-content: center;
            margin-bottom: 4.3rem;
            @media (max-width: $sw-lg-max) {
                margin-bottom: 4rem;
            }
            @media (max-width: $sw-md-max) {
                margin-bottom: 3rem;
            }
        }
        &__list {
            display: block;
            @media (max-width: $sw-md-max) {
                display: none;
            }
            li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &:not(:last-child) {
                    margin-bottom: 1.8rem;
                    @media (max-width: $sw-lg-max) {
                        margin-bottom: 1.5rem;
                    }
                }
                span {
                    font-size: 1.8rem;
                    color: $bluewood;
                    @media (max-width: $sw-lg-max) {
                        font-size: 1.6rem;
                    }
                }
            }
            .icon-pin {
                font-size: 1.6rem;
                color: $violet;
                margin-right: 2.5rem;
                @media (max-width: $sw-lg-max) {
                    margin-right: 2rem;
                }
            }
            &-wrap {
                display: flex;
                justify-content: center;
                margin-bottom: 3.8rem;
                @media (max-width: $sw-md-max) {
                    margin-bottom: 3rem;
                }
            }
            &-trigger {
                display: none;
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;
                @media (max-width: $sw-md-max) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                span {
                    font-size: 1.4rem;
                    text-decoration: underline;
                    color: $violet;
                }
                .icon {
                    font-size: 1.4rem;
                    color: $violet;
                    margin-right: 1rem;
                }
            }
        }
        &__start-game {
            display: flex;
            justify-content: center;
            margin-top: auto;
        }
    }
}