.section-fin-regulator {
    position: fixed;
	top: 10rem;
	left: 13.9rem;
	right: 0;
    bottom: 0;
    padding: 3rem;
    margin: auto;
    @media (max-width: $sw-lg-max) {
		top: 8rem;
		left: 12rem;
	}
	@media (max-width: $sw-md-max) {
		padding: 1.5rem 1rem;
		left: 11rem;
	}
	@media (max-width: $sw-sm-max) {
		left: 0;
	}
	@media (max-width: $sw-xs-max) {
		top: 13.7rem;
	}
}

.finquest-regulator {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.finquest-regulator__inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6rem;
    @media (max-width: $sw-xs-max) {
        min-width: 76.8rem;
        min-height: 65rem;
    }
    .finquest-aside-wrap {
        position: relative;
    }
}

.finquest-regulator__map {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}

.finquest-regulator {
    &__points {
        position: relative;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        left: 0;
        top: 0;
    }
    &__point {
        position: absolute;
        transform: scale(0);
        transition: transform .4s ease, opacity .4s ease;
        opacity: 0;
        &:not([disabled]):active {
            transform: translateY(3px) scale(1) !important;
        }
        &.is-visible {
            opacity: 1;
            transform: scale(1);
            &[disabled] {
                opacity: 0.3;
                cursor: default;
            }
        }
        &__icon {
            height: auto;
            display: flex;
            @media (max-width: $sw-lg-max) {
                height: 7.5rem;
            }
            @media (max-width: $sw-md-max) {
                height: 6.5rem;
            }
            @media (max-width: $sw-sm-max) {
                height: 6rem;
            }
            img {
                max-height: 100%;
            }
        }
    }
}

.finquest-regulator__aside {
    width: 100%;
    max-width: 81.8rem;
    position: absolute;
    right: 6rem;
    top: 7rem;
    bottom: 7rem;
    overflow: hidden;
    overflow-y: auto;
}

.finquest-regulator__list {
    border: 1px solid red;
    &__header {
        width: 100%;
        background-color: #7f84ea;
        display: flex;
        justify-content: space-between;
        min-height: 5.8rem;
        .finquest-regulator__list__col {
            color: $white;
            border-right: none !important;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        min-height: 5.2rem;
        &:not(:last-child) {
            border-bottom: 1px solid #d9ebf5;
        }
    }
    &__col {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.5;
        color: $black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:not(:last-child) {
            border-right: 1px solid rgba(#d9ebf5, 0.41);
        }
        &.list-name {
            width: 35.2rem;
            text-align: left;
            justify-content: flex-start;
            padding-left: 4.4rem;
            padding-right: 4.4rem;
        }
        &.list-stations {
            width: 23.2rem;
        }
        &.list-points {
            width: 23.3rem;
        }
    }
}