.top-section {
    position: relative;
    z-index: 50;
}

.header {
    height: 10rem;
    background-color: $black;
    position: relative;
    z-index: 30;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;

    @media (max-width: $sw-lg-max) {
        padding: 1rem 8rem;
        height: 8rem;
    }

    @media (max-width: $sw-md-max) {
        padding: 0 6rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 0 2rem;
        height: 6.7rem;
    }

    &__side {
        display: flex;
        align-items: center;
        height: 100%;
        .aside-block-points {
            display: none;
            @media (max-width: $sw-sm-max) {
                margin-right: 2rem;
                display: flex;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 2.6rem;
                width: 9rem;
            }
        }
    }

    &__logo {
        margin-right: 7rem;
        @media (max-width: $sw-xs-max) {
            margin-right: 1rem;
        }
        img {
            height: 8rem;
            @media (max-width: $sw-lg-max) {
                height: 6rem;
            }
            @media (max-width: $sw-xs-max) {
                height: 5rem;
            }
        }
    }

    &__links {
        display: none;

        @media (max-width: $sw-sm-max) {
            display: flex;
        }
        @media (max-width: $sw-xs-max) {
            background-color: #ffffff;
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }

        &__item {
            margin-right: 2.5rem;
            @media (max-width: $sw-xs-max) {
                margin: 0 1.3rem;
            }
        }

        .icon {
            font-size: 5rem;
        }
    }
}

/* Hamburger Icon */
.hamburger-icon {
    display: none;
    width: 4.2rem;
    height: 3.4rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @media (max-width: $sw-sm-max) {
        display: inline-block;
    }
    @media (max-width: $sw-xs-max) {
        width: 2.5rem;
        height: 2.4rem;
    }
}


.hamburger-icon span {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    margin-top: 6px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    @media (max-width: $sw-xs-max) {
        height: 1px;
        margin-top: 2px;
    }
}


/* Hamburger Lines  */

.hamburger-icon span:nth-child(1) {
    top: 0px;
}

.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
    top: 13px;
    @media (max-width: $sw-xs-max) {
        top: 10px;
    }
}

.hamburger-icon span:nth-child(4) {
    top: 26px;
    @media (max-width: $sw-xs-max) {
        top: 20px;
    }
}

.hamburger-icon.hamburger-open span {
    background: $white;
}

.hamburger-icon.hamburger-open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hamburger-icon.hamburger-open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-icon.hamburger-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-icon.hamburger-open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}