.hint-modal-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $sw-sm-max) {
        align-items: center;
    }
    .finquest-box {
        @media (max-width: $sw-xs-max) {
            width: auto;
        }
    }
}

.question-box {
    padding: 0;
    @media (max-width: $sw-xs-max) {
        margin-bottom: 2rem;
    }
    &__inner {
        padding: 3.8rem 4.8rem;
        @media (max-width: $sw-xs-max) {
            padding: 2.5rem;
        }
    }
    &__title {
        margin-bottom: 3.4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
    }
    &__questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: 3rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
        @media (max-width: 499px) {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            width: 100%;
            min-height: 6.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 2.7rem;
            color: #324b59;
            font-size: 1.8rem;
            line-height: 1;
            background-color: #ebf8ff;
            border-radius: 5px;
            text-align: left;
            transform: none;
            transition: background-color .3s ease, color .3s ease, transform .3s ease;
            @media (max-width: $sw-xs-max) {
                padding: 0 1.5rem;
                font-size: 1.6rem;
                min-height: 5rem;
            }
            &-col {
                width: 50%;
                padding: 0 7px;
                margin-bottom: 1.1rem;
                @media (max-width: 499px) {
                    padding: 0;
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }
            &.error-answer {
                background-color: #fa4848;
                color: #ffffff;
            }
            &.right-answer {
                background-color: #3dc479;
                color: #ffffff;
            }
        }
    }
}

.hint-box {
    position: relative;
    text-align: center;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4.5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2rem;
        }
        img {
            margin-right: 3.2rem;
            @media (max-width: $sw-xs-max) {
                margin-right: 2rem;
                max-width: 4rem;
            }
        }
        .h2 {
            margin-bottom: 0;
        }
    }
    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        padding: 0;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.point-hint {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    min-width: 25.6rem;
    @media (max-width: $sw-lg-max) {
        min-width: 24.6rem;
        padding: 1.6rem 2.4rem;
    }
    @media (max-width: $sw-xs-max) {
        min-width: 16rem;
        padding: 1.2rem 1.8rem;
    }
    &--take-off {
        background-color: $red;
    }
    &--accure {
        background-color: $green;
        .point-hint__icon {
            &:after {
                height: 2rem;
                width: 2px;
                @media (max-width: $sw-lg-max) {
                    height: 1.8rem;
                }
                @media (max-width: $sw-xs-max) {
                    height: 1.2rem;
                }
            }
        }
    }
    & + .point-hint {
        margin-left: 3rem;
        @media (max-width: $sw-xs-max) {
            margin-left: 0;
            margin-top: 1.6rem;
        }
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        position: relative;
        margin-right: 3rem;
        border-radius: 50%;
        border: 2px solid $white;
        @media (max-width: $sw-lg-max) {
            width: 3.6rem;
            height: 3.6rem;
            margin-right: 2.6rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 1.8rem;
            width: 3rem;
            height: 3rem;
        }
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: $white;
        }
        &::before {
            width: 2rem;
            height: 2px;
            @media (max-width: $sw-lg-max) {
                width: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 1.2rem;
            }
        }
    }
    &__text {
        p {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3;
            color: $white;
            margin: 0;
            @media (max-width: $sw-lg-max) {
                font-size: 1.7rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
            }
        }
        span {
            font-weight: 700;
            font-size: 2.4rem;
            @media (max-width: $sw-lg-max) {
                font-size: 2.2rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.8rem;
            }
        }
    }
    &-wrapper {
        position: fixed;
        bottom: 6rem;
        right: 6rem;
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: $sw-lg-max) {
            bottom: 4rem;
            right: 4rem;
        }
        @media (max-width: $sw-xs-max) {
            bottom: 1.4rem;
            right: 1.4rem;
            display: block;
        }
    }
}