<template>
    <div class="finquest-regulator">
        <div class="finquest-regulator__inner">
            <div class="finquest-regulator__map" :style="{backgroundImage: 'url(' + mapImg + ')' }"></div>
            <v-fin-regulator-aside></v-fin-regulator-aside>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-regulator',
    data() {
        return {
            mapImg: require('./../assets/images/fin-regulator/fin-regulator.jpg'),
        }
    }
}
</script>