<template>
    <div class="hint-modal-inner">
        <div class="finquest-box">
            <div class="finquest-box__body">
                <h2 class="h2 finquest-box__title text-center">Подсказка стоит {{hintCost}} баллов</h2>
                <div class="finquest-box__btns-wrap">
                    <button type="button" class="button button--xs button--green" @click="openHintModal('HintModalInner')">Активировать подсказку?</button>
                    <button type="button" class="button button--xs button--red" @click="closeHintModal()">Отклонить</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'hint-modal-activate',
    data() {
        return {
            hintCost: 5
        }
    }
}
</script>