<template>
    <div class="point-hint-wrapper">
        <div class="point-hint point-hint--accure">
            <div class="point-hint__icon"></div>
            <div class="point-hint__text">
                <p>Вам начислено</p>
                <p><span class="fw-bold">{{accurePoints}}</span> баллов</p>
            </div>
        </div>
        <div class="point-hint point-hint--take-off">
            <div class="point-hint__icon"></div>
            <div class="point-hint__text">
                <p>У вас списано</p>
                <p><span class="fw-bold">{{takeOffPoints}}</span> баллов</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'points-hint',
    data() {
        return {
            takeOffPoints: 5,
            accurePoints: 100
        }
    }
}
</script>