<template>
    <div class="finquest-map-points-wrap">
        <div class="finquest-map-points">
            <img src="../../assets/images/finquest/map-clear.png" alt="finquest-map" class="finquest-map">
            <div class="map-dog" :style="finquestDog.styles" :class="{'in-move': inMove, 'is-visible': pointAppear}">
                <img :src="finquestDog.icon" alt="map-dog" class="map-dog-img">
            </div>
            <button v-for="(point, index) in mapPoints" type="button" class="finquest-map-point" :disabled="point.styles.disabled" :class="{'is-visible': pointAppear}" :style="point.styles" :key="`point`+index" @click="goToPoint(index)">
                <img :src="point.icon" alt="point">
            </button>
        </div>
        <div class="finquest-map-list-wrap">
            <div class="finquest-map-list">
                <div class="finquest-map-list__item">
                    <button type="button" class="finquest-map-list__btn finquest-map-list__btn--violet" @click="toggleShowOptionsFirst">
                        <span class="finquest-map-list__btn__title">Район</span>
                        <span class="finquest-map-list__btn__name">
                            <img src="../../assets/images/finquest/money-in-bank.png" alt="bank">
                            Деньги в банке
                        </span>
                        <div class="finquest-map-list__btn__chevron">
                            <v-icons name="chevron"></v-icons>
                        </div>
                    </button>
                    <v-slide-up-down :active="showOptionsFirst">
                        <div class="finquest-map-list__table">
                            <div class="finquest-map-list__table__header">
                                <div class="finquest-map-list__table__col lg-col">
                                    <span>Улица</span>
                                </div>
                                <div class="finquest-map-list__table__col lg-col">
                                    <span>Станция</span>
                                </div>
                                <div class="finquest-map-list__table__col sm-col">
                                    <span>отметка</span>
                                </div>
                                <div class="finquest-map-list__table__col sm-col">
                                    <span>финики</span>
                                </div>
                            </div>
                            <div class="finquest-map-list__table__body">
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(8)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Банковская, д4. </span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Компания Кредит Сервис</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(10)" disabled="disabled">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Кредитная, д.16</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Твоя кредитная карта</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(7)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Карточная, д.7</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Компания Кредит Сервис</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(11)" disabled="disabled">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Моментальная, д.4</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Микрокредитная компания „Пять минут“</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </v-slide-up-down>
                </div>
                <div class="finquest-map-list__item">
                    <button type="button" class="finquest-map-list__btn finquest-map-list__btn--green" @click="toggleShowOptionsSecond">
                        <span class="finquest-map-list__btn__title">Район</span>
                        <span class="finquest-map-list__btn__name">
                            <img src="../../assets/images/finquest/money-works.png" alt="bank">
                            Деньги работают
                        </span>
                        <div class="finquest-map-list__btn__chevron">
                            <v-icons name="chevron"></v-icons>
                        </div>
                    </button>
                    <v-slide-up-down :active="showOptionsSecond">
                        <div class="finquest-map-list__table">
                            <div class="finquest-map-list__table__header">
                                <div class="finquest-map-list__table__col lg-col">
                                    <span>Улица</span>
                                </div>
                                <div class="finquest-map-list__table__col lg-col">
                                    <span>Станция</span>
                                </div>
                                <div class="finquest-map-list__table__col sm-col">
                                    <span>отметка</span>
                                </div>
                                <div class="finquest-map-list__table__col sm-col">
                                    <span>финики</span>
                                </div>
                            </div>
                            <div class="finquest-map-list__table__body">
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(6)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Инвесторов, д1. </span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Компания Кредит Сервис</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(9)" disabled="disabled">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Биржевая, д.3</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Твоя кредитная карта</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(12)" disabled="disabled">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Обменная, д.1</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Компания Кредит Сервис</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(13)" disabled="disabled">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>аллея Вкладов, д.1</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Микрокредитная компания „Пять минут“</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </v-slide-up-down>
                </div>
                <div class="finquest-map-list__item">
                    <button type="button" class="finquest-map-list__btn finquest-map-list__btn--blue" @click="toggleShowOptionsThird" >
                        <span class="finquest-map-list__btn__title">Район</span>
                        <span class="finquest-map-list__btn__name">
                            <img src="../../assets/images/finquest/money-in-wallet.png" alt="bank">
                            Деньги в кошельке
                        </span>
                        <div class="finquest-map-list__btn__chevron">
                            <v-icons name="chevron"></v-icons>
                        </div>
                    </button>
                    <v-slide-up-down :active="showOptionsThird">
                        <div class="finquest-map-list__table">
                            <div class="finquest-map-list__table__header">
                                <div class="finquest-map-list__table__col lg-col">
                                    <span>Улица</span>
                                </div>
                                <div class="finquest-map-list__table__col lg-col">
                                    <span>Станция</span>
                                </div>
                                <div class="finquest-map-list__table__col sm-col">
                                    <span>отметка</span>
                                </div>
                                <div class="finquest-map-list__table__col sm-col">
                                    <span>финики</span>
                                </div>
                            </div>
                            <div class="finquest-map-list__table__body">
                                <button type="button" class="finquest-map-list__table__row"  @click="goToPoint(0)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Домашняя, д1. </span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Компания Кредит Сервис</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(1)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Дешевая, д.7</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Твоя кредитная карта</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(3)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Контроля, д.9</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Компания Кредит Сервис</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                                <button type="button" class="finquest-map-list__table__row" @click="goToPoint(5)">
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>ул. Разумных покупок, д.4</span>
                                    </div>
                                    <div class="finquest-map-list__table__col lg-col">
                                        <span>Микрокредитная компания „Пять минут“</span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                    <div class="finquest-map-list__table__col sm-col">
                                        <span></span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </v-slide-up-down>
                </div>
            </div>
            <div class="finquest-map-list finquest-map-list-general">
                <button type="button" class="finquest-map-list-general__item" @click="goToPoint(2)">
                    <span class="finquest-map-list__table__col lg-col">
                        <span>Пр-т Финансов, д.1</span>
                    </span>
                    <span class="finquest-map-list__table__col lg-col">
                        <span>На юридической консультации</span>
                    </span>
                    <span class="finquest-map-list__table__col sm-col">
                        <span></span>
                    </span>
                    <span class="finquest-map-list__table__col sm-col">
                        <span></span>
                    </span>
                </button>                
                <button type="button" class="finquest-map-list-general__item" @click="goToPoint(4)">
                    <span class="finquest-map-list__table__col lg-col">
                        <span>Пр-т Финансов, д.4</span>
                    </span>
                    <span class="finquest-map-list__table__col lg-col">
                        <span>На ярмарке вакансий</span>
                    </span>
                    <span class="finquest-map-list__table__col sm-col">
                        <span></span>
                    </span>
                    <span class="finquest-map-list__table__col sm-col">
                        <span></span>
                    </span>
                </button>                
            </div>
        </div>
        <v-finquest-modals></v-finquest-modals>
        <v-hint-modal></v-hint-modal>
        <v-congratulation-modal></v-congratulation-modal>
    </div>
</template>

<script>
export default {
    name: 'finquest-map-points',
    data() {
        return {
            showOptionsFirst: false,
            showOptionsSecond: false,
            showOptionsThird: false,
            inMove: false,
            pointAppear: false,
            finquestDog: {
                icon: require('../../assets/images/finquest/finquest-dog.png'),
                styles: {
                    top: '0',
                    left: '0'
                }
            },
            mapPoints: [
                {
                    icon: require('../../assets/images/points/point-1.png'),
                    styles: {
                        top: '12.3%',
                        left: '11.3%',
                        disabled: false
                    }, 
                    modalComponentName: 'JobApplication',
                    hintText: 'Помните, что подписание трудового договора — обязательный этап трудоустройства, который должен пройти в определённые сроки и не должен быть связан с денежными издержками для работника.'
                },
                {
                    icon: require('../../assets/images/points/point-2.png'),
                    styles: {
                        top: '13.9%',
                        left: '21.4%',
                        disabled: false
                    }, 
                    modalComponentName: 'Wage',
                    hintText: 'Не забывайте, что при расчёте пособия по временной нетрудоспособности и взносов во внебюджетные фонды учитывается только официальная часть заработной платы.'
                },
                {
                    icon: require('../../assets/images/points/point-3.png'),
                    styles: {
                        top: '13%',
                        left: '31.6%',
                        disabled: false
                    }, 
                    modalComponentName: 'Dismissial',
                    hintText: 'Сотрудник имеет право на увольнение по собственному желанию, однако сообщить о своём желании он должен не позже, чем за установленный законом срок до даты предполагаемого увольнения. Работодатель в этом случае обязан выплатить положенное денежное вознаграждение за отработанное время и неиспользованный отпуск.'
                },
                {
                    icon: require('../../assets/images/points/point-4.png'),
                    styles: {
                        top: '25.6%',
                        left: '23.7%',
                        disabled: false
                    },
                    modalComponentName: 'FamilyBudget',
                    hintText: 'Чтобы определить период, за который Игнатьевы смогут накопить на отпуск, необходимо полную стоимость поездки разделить на сумму профицита бюджета. А для того, чтобы накопить быстрее, важно понять, какие расходы являются необязательными и на чём можно сэкономить.'
                },
                {
                    icon: require('../../assets/images/points/point-5.png'),
                    styles: {
                        top: '27%',
                        left: '43.2%',
                        disabled: false
                    },
                    modalComponentName: 'Credit',
                    hintText: 'При выборе кредита необходимо обращать внимание на размер переплаты и на то, какую часть от дохода составляет сумма ежемесячных платежей.'
                },
                {
                    icon: require('../../assets/images/points/point-6.png'),
                    styles: {
                        top: '53%',
                        left: '11%',
                        disabled: false
                    },
                    modalComponentName: 'MoneyStorage',
                    hintText: 'При начислении простых процентов за базу будет всегда браться изначально положенная на вклад сумма. Агентство по страхованию вкладов возвращает сумму с начисленными на дату окончания вклада процентами.'
                },
                {
                    icon: require('../../assets/images/points/point-7.png'),
                    styles: {
                        top: '49.6%',
                        left: '33.2%',
                        disabled: false
                    },
                    modalComponentName: 'BusinessDevelopment',
                    hintText: 'Обратите внимание, что у собственников ИП и ООО разная готовность рисковать собственным имуществом (ответственность по обязательствам).'
                },
                {
                    icon: require('../../assets/images/points/point-8.png'),
                    styles: {
                        top: '42.1%',
                        left: '55.2%',
                        disabled: false
                    },
                    modalComponentName: 'TaxesForIndividuals',
                    hintText: 'В данном случае налог составит 35%, однако уплатить его будет необходимо не со всей суммы выигрыша.'
                },
                {
                    icon: require('../../assets/images/points/point-9.png'),
                    styles: {
                        top: '38%',
                        left: '62.6%',
                        disabled: false
                    },
                    modalComponentName: 'BusinessOpening',
                    hintText: 'Чтобы определить минимальную цену за продукт, необходимо сумму всех затрат на производство и желаемую прибыль разделить на количество производимого товара. Если не удастся реализовать всю выпущенную продукцию, то доходы будут получены только от проданной продукции, а расходы надо учесть на выпуск всего объема продукции.'
                },
                {
                    icon: require('../../assets/images/points/point-10.png'),
                    styles: {
                        top: '58.8%',
                        left: '55.8%',
                        disabled: true
                    }
                },
                {
                    icon: require('../../assets/images/points/point-11.png'),
                    styles: {
                        top: '55.8%',
                        left: '71.6%',
                        disabled: true
                    }
                },
                {
                    icon: require('../../assets/images/points/point-12.png'),
                    styles: {
                        top: '57.4%',
                        left: '79.2%',
                        disabled: true
                    }
                },
                {
                    icon: require('../../assets/images/points/point-13.png'),
                    styles: {
                        top: '88.4%',
                        left: '49.1%',
                        disabled: true
                    }
                },
                {
                    icon: require('../../assets/images/points/point-14.png'),
                    styles: {
                        top: '69.5%',
                        left: '70.8%',
                        disabled: true
                    }
                },
            ]
        }
    },
    methods: {
        goToPoint(index) {
            this.finquestDog.styles.top = +this.mapPoints[index].styles.top.replace('%', '') + 2 + '%';
            this.finquestDog.styles.left = +this.mapPoints[index].styles.left.replace('%', '') + 2 + '%';
            this.inMove = true;
            this.$store.dispatch('initChangePoint', true);
            this.$store.dispatch('initHintText', this.mapPoints[index].hintText);
            setTimeout(() => {
                this.inMove = false;
                this.openFinquestModal(this.mapPoints[index].modalComponentName);
            }, 1600);
        },
        toggleShowOptionsFirst() {
            this.showOptionsFirst = !this.showOptionsFirst;
        },
        toggleShowOptionsSecond() {
            this.showOptionsSecond = !this.showOptionsSecond;
        },
        toggleShowOptionsThird() {
            this.showOptionsThird = !this.showOptionsThird;
        }
    },
    beforeDestroy() {
        this.$store.dispatch('initChangePoint', false);
        this.$store.dispatch('initHintText', null);
        this.closeFinquestModal();
        this.closeHintModal();
        this.closeCongratulationModal();
    },
    mounted() {
        setTimeout(() => {
            this.pointAppear = true;
            this.inMove = true;
        }, 1000)
        setTimeout(() => {
            this.inMove = false;
        }, 3000)
    }
}
</script>