<template>
    <div class="finquest-box">
        <div class="finquest-box__body">
            <h1 class="finquest-box__title h1">Правила игры Финквест</h1>
            <p class="finquest-box__text">Появление эффективного онлайн-инструмента Проекта для детей и молодежи, помогающего оттачиванию практических навыков и компетенций, связанных с финансовой инфраструктурой города, типичными повседневными финансовыми ситуациями, необходимостью самостоятельно принимать решения в области личных финансов с учетом меняющихся условий и обстоятельств.</p>
            <p class="finquest-box__text">Появление эффективного онлайн-инструмента Проекта для детей и молодежи, помогающего оттачиванию практических навыков и компетенций, связанных с финансовой инфраструктурой города, типичными повседневными финансовыми ситуациями, необходимостью самостоятельно принимать решения в области личных финансов с учетом меняющихся условий и обстоятельств</p>
            <router-link :to="{name: 'finquest-regulator-game'}" class="button button--xs button--green">
                <span>Начать игру</span>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: 'fin-regulator-rules'
}
</script>