<template>
    <div class="finquest-welcome">
        <div class="finquest-video">
            <div class="finquest-video__content">
                <p class="finquest-video__subtitle">Видеообращение к участникам онлайн-Финквеста от</p>
                <p class="finquest-video__title">Александра Аузана</p>
                <p class="finquest-video__position">Декана экономического факультета МГУ им. М.В. Ломоносова</p>
                <button type="button" class="button button--xs button--green">
                    <v-icons name="play"></v-icons>
                    <span>Смотреть</span>
                </button>
            </div>
            <div class="finquest-video__img">
                <img src="../../assets/images/finquest/video-person.png" alt="person">
            </div>
        </div>
        <div class="finquest-box">
            <div class="finquest-box__body">
                <h1 class="finquest-box__title h1">Добро пожаловать в Финквест!</h1>
                <p class="finquest-box__text">Появление эффективного онлайн-инструмента Проекта для детей и молодежи, помогающего оттачиванию практических навыков и компетенций, связанных с финансовой инфраструктурой города, типичными повседневными финансовыми ситуациями.</p>
                <router-link :to="{name: 'finquest-regulator-rules'}" class="button button--xs button--green">
                    <span>Продолжить</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'fin-regulator-welcome'
}
</script>