<template>
    <div class="finquest-regulator">
        <div class="finquest-regulator__inner">
            <div class="finquest-regulator__map" :style="{backgroundImage: 'url(' + mapImg + ')' }">
            </div>
            <div class="finquest-regulator__points">
                <div class="map-dog" :style="finquestDog.styles" :class="{'in-move': inMove, 'is-visible': pointAppear}">
                    <img :src="finquestDog.icon" alt="map-dog" class="map-dog-img">
                </div>
                <button v-for="(point, index) of mapPoints" type="button" class="finquest-regulator__point" :key="`fin-point`+index" :style="point.styles" :class="{'is-visible': pointAppear}" @click="goToPoint(index)">
                    <span class="finquest-regulator__point__icon">
                        <img :src="point.icon" alt="point">
                    </span>
                </button>
            </div>
            <div class="finquest-regulator__aside">
                <div class="finquest-regulator__list">
                    <div class="finquest-regulator__list__header">
                        <div class="finquest-regulator__list__col list-name">
                            <span>Название станции</span>
                        </div>
                        <div class="finquest-regulator__list__col list-stations">
                            <span>Посещение станций</span>
                        </div>
                        <div class="finquest-regulator__list__col list-points">
                            <span>Заработанные баллы</span>
                        </div>
                    </div>
                    <div class="finquest-regulator__list__body">
                        <div class="finquest-regulator__list__row" v-for="(point, index) of mapPoints" :key="`list-point`+index" >
                            <button type="button" class="finquest-regulator__list__col list-name" @click="goToPoint(index)">
                                <span>{{ point.name }}</span>
                            </button>
                            <div class="finquest-regulator__list__col list-stations"></div>
                            <div class="finquest-regulator__list__col list-points"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'finquest-regulator-map',
    data() {
        return {
            inMove: false,
            pointAppear: false,
            mapImg: require('./../../assets/images/fin-regulator/fin-regulator.jpg'),
            finquestDog: {
                icon: require('../../assets/images/finquest/finquest-dog.png'),
                styles: {
                    top: '3%',
                    left: '3%'
                }
            },
            mapPoints: [
                {
                    icon: require('../../assets/images/fin-regulator/fr1.png'),
                    styles: {
                        top: '22.6%',
                        left: '6.8%'
                    },
                    disabled: false,
                    name: 'Пенсионный фонд России'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr2.png'),
                    styles: {
                        top: '32.7%',
                        left: '21.7%'
                    },
                    disabled: false,
                    name: 'Фонд социального страхования'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr3.png'),
                    styles: {
                        top: '16.1%',
                        left: '34%'
                    },
                    disabled: false,
                    name: 'Федеральная налоговая служба'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr4.png'),
                    styles: {
                        top: '34.9%',
                        left: '43.5%'
                    },
                    disabled: false,
                    name: 'Агентство по страхованию вкладов'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr5.png'),
                    styles: {
                        top: '57.2%',
                        left: '10.9%'
                    },
                    disabled: false,
                    name: 'Минфин России'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr6.png'),
                    styles: {
                        top: '76.5%',
                        left: '29.4%'
                    },
                    disabled: false,
                    name: 'Банк России'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr11.png'),
                    styles: {
                        top: '62%',
                        left: '39.6%'
                    },
                    disabled: false,
                    name: 'Роспотребнадзор'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr12.png'),
                    styles: {
                        top: '82.7%',
                        left: '9.4%'
                    },
                    disabled: false,
                    name: 'Роскомнадзор'
                },
                {
                    icon: require('../../assets/images/fin-regulator/fr13.png'),
                    styles: {
                        top: '55.9%',
                        left: '28.2%'
                    },
                    disabled: false,
                    name: 'Управление «К» МВД России Кто мне поможет? '
                },
            ]
        }
    },
    methods: {
        goToPoint(index) {
            this.finquestDog.styles = this.mapPoints[index].styles;
            this.inMove = true;
            // this.$store.dispatch('initChangePoint', true);
            // this.$store.dispatch('initHintText', this.mapPoints[index].hintText);
            setTimeout(() => {
                this.inMove = false;
                // this.openFinquestModal(this.mapPoints[index].modalComponentName);
            }, 1600);
        }
    },
    beforeDestroy() {
        // this.$store.dispatch('initChangePoint', false);
        // this.$store.dispatch('initHintText', null);
        // this.closeFinquestModal();
        // this.closeHintModal();
        // this.closeCongratulationModal();
    },
    mounted() {
        setTimeout(() => {
            this.pointAppear = true;
            this.inMove = true;
        }, 1000)
        setTimeout(() => {
            this.inMove = false;
        }, 3000)
    }
}
</script>